<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clothing Store</title>
  </head>
  <body>
    <h1>Welcome to my Clothings Store!</h1>
    <a href="/new">Add Clothing</a>
  </body>
</html>