<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>clothing Store</title>
  </head>
  <body>
    <a href="/clothing/new">Add New clothing</a>
    <h1>All clothing</h1>
    <ul>
      <% clothing.forEach(item => { %>
        <li><a href="/clothing/<%= item._id %>"><%= item.name %></a></li>
        <% }) %>
    </ul>
  </body>
</html>